*{
    font-family: poppins;
    margin: 0px;
    padding: 0px;
}

.home{
    background-image: url("assets/banner.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.signup{
    width: 500px;
    height: 650px;
    background-color: white;
}
h1{
    text-align: center;
    margin-top: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bolder;
}
.line{
    width: 480px;
    height: 2px;
    background-color: #f1f1f1;
    ;
    margin-bottom: 10px;
    margin: 10px;
}
.enter{
    margin: 10px;
    width: 480px;
    font-weight: bold;
}
.enter2{
    margin-left: 10px;
    margin-bottom: 20px;
    width: 470px;
}
input{
    border: 0px solid black;
    height: 20px;
    border-radius: 20px;
    padding: 5px;
    outline: none;
    background-color: #f1f1f1;
}
label{
    margin-bottom: 0px;
}

button{
    width: 480px;
    margin: 10px;
    margin-top: 20px;
    height: 40px;
    text-align: center;
    color: white;
    background-color: black;
}